@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";

.alarm_num_container {
  width: 155px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;

  .alarm_pict {
    padding-top: 100px;
    padding-left:10px;

    .phone_pict {
      width: 100px;
      height: 80px;
      padding-left:10px;
    }
  }

  .alarm_text {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
    padding-right: 20px;

    p {
      text-align: center;
      font-size: 20px;
      font-family: Roboto, sans-serif;
      color: darkred;
      font-weight: bold;
      display: inline;

    }

  }
  .geo_btn {
    font-size: 12px;
    background-color: orangered;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    cursor: pointer;


  }
}
