@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $body-color;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  //font-family: $font-raleway;

}

.container {
  width: 100%;
  margin: 0 auto;

  //@include notebook {
  //  width: 100%;
  //  padding: 0 15px;
  //}
}
