@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";

//donate section with account numbers:

//main container:

.donate_section_container {
  height: 390px;
  box-sizing: border-box;
  background-color: $column-red-color;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  font-size: 10px;
  text-align: center;
  padding-top: 15px;

  @include tablet {
    height: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }
  @include notebook {
    height: 270px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  //extra breakpoints for rwd version:

  @media (max-width: 400px) {
    height: 450px;
  }
  @media (min-width: 560px) and (max-width: 689px) {
    height: 300px;
  }
  @media (min-width: 690px) and (max-width: 792px) {
    height: 250px;
  }


  .donate_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

    .donate__header {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;

      @include notebook {
        display: inline-block;
        padding-bottom: 20px;
      }
    }

    .donate__text {
      font-weight: 300;
      font-size: 16px;
      padding: 0 20px;

      @include notebook {
        font-size: 16px;
      }
    }
  }
}