@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";

//header with mail logotype:

//main container:

.header {
  box-sizing: border-box;
  background-color: $body-color;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $header-color;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto -10px;
    background-color: white;

    @include tablet {
      //margin: 0 auto 20px 0;
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 10px;
      max-width: 1100px;
    }
    @include notebook {
      //width: 1025px;
      display: flex;
      justify-content: center;
      background-color: white;
      flex-wrap: nowrap;
      margin: 20px auto 20px auto;
      border-radius: 10px;
    }

 //extra breakpoint for rwd version:

    @media (min-width: 519px) and (max-width: 922px) {
      flex-wrap: nowrap;
    }

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-width: 120px;
      margin: 10px 20px;

      @include tablet {
        margin: 30px 40px;
      }
    }

//rescuers logotype:

    .logo__grp {
      width: 150px;
      height: 160px;
      margin-left: -20px;

      @include tablet {
        width: 180px;
        height: 180px;
      }
      @include notebook {
        width: 180px;
        height: 180px;
      }
    }


//fire-fighters logotype:

    .logo__osp {
      width: 130px;
      padding: 0 0 5px 0;
      margin: 0;

      @include tablet {
        width: 180px;
        height: 200px;
      }
      @include notebook {
        width: 170px;
        height: 190px;
        padding-right: 10px;
        margin: 0 25px 0 0;
      }
    }

//main header title container:

    .header_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      line-height: 25px;
      padding: 0 15px;
      margin: 0;

      @include tablet {
        font-size: 18px;
      }
      @include notebook {
        padding: 22px 30px;
        font-size: 25px;
        line-height: 40px;
      }

// main header title:

      .header__title {
        font-weight: 400;

        @include notebook {
          font-weight: 300;
        }
      }
    }
  }
}