@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";

.header {
  box-sizing: border-box;
  background-color: $body-color;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $header-color;

  @include tablet{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header_container {
    max-width: 1100px;
    margin: 10px auto 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    @include mobile {
      margin: 0 auto -10px;
      align-items: center;
      flex-direction: column;
    }

    .logo {
      max-width: 120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 30px 40px;
      @include mobile {
        margin: 10px 20px ;
      }



      }
      .logo_osp {
        width: 150px;
        height: 160px;
        margin-left: -20px;
        @include tablet {
          width: 180px;
          height:180px;
        }
        @include notebook {
          width: 200px;
          height: 200px;
        }
      }
      .logo_grp {
        width: 130px;
        //height: 160px;
        padding: 5px 0 10px 0;
        margin: 0;

        @include tablet {
          width: 180px;
          height: 200px;
      }
        @include notebook {
          width: 190px;
          height: 210px;
          padding-right: 10px;
          margin: 0 25px 0 0;
        }


    }



    .header_text {
      line-height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      padding: 22px 15px;
      margin: 0;
      @include tablet {
        font-size: 18px;
      }
      @include mobile {
        padding: 0 15px;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        line-height: 30px;

      }
      .header_title {
        //margin: 0;
        font-weight: 400;
        @include notebook{
          font-weight: 300;
        }
      }
    }
  }
}