@import "./src/scss/settings/index";
@import "./src/scss/settings/mixins";


.entry_section {
  width: 200px;
  margin-top:35px;
  margin-left: 23px;
  background-color: #e3e2e2;
  color: $font-black-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}

 .entry__text  {
  text-align: center;
  font-size: 14px;
}



.entry__input {
  width: 160px;
  margin-top: 10px;
  border: 1px solid $font-black-color;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.entry__btn {
  font-size: 14px;
  background-color: #4c7eba;
  color: #fff;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin-top:10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 5%;
  right: 10%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  padding: 20px;
  background: #e9e9e9;
  width: 300px;
  height: 460px;
  border-top-right-radius: 20px;
  text-align: center;

  @include notebook{
    width: 550px;
    height: 400px;
    line-height: 30px;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
  }

}

.popup__header {
  text-transform: uppercase;
  color: $header-color;
  padding-bottom: 20px;
  font-weight: bold;
}

.popup__text_2 {
  display: inline-block;
  padding-top: 20px;

}

.popup__number {
  font-size: 20px;
  color: red;

}

.popup__btn {
  font-size: 14px;
  background-color: $header-color;
  color: white;
  border-radius: 10px;
  width: 180px;
  height: 30px;
  margin-top:20px;
  text-transform: uppercase;

}