@import "./src/scss/settings/index";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

a {
  color: $font-black-color;
}


.nav_container {
  position: fixed;
  width: 100%;
  background-color: $body-color;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.1);
  z-index: 1;
}

.nav_container ul {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 0.5);
  list-style: none;
  text-transform: uppercase;
  overflow: hidden;
}

.nav_container li {

  @include notebook {
    float: left;
    display: inline-block;

  }
}

.nav_container li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid $body-color;
  text-decoration: none;
  @include notebook{
    padding: 20px 60px;
  }
}

.nav_container li a:hover,
.nav_container .menu_btn:hover {
  background-color: $column-white-color;
}

.nav_container .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  @include notebook{
    display: flex;
    justify-content: center;
    clear: none;
    max-height: none;
  }
}


.nav_container .menu_icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  @include notebook {
    display: none;

  }
}

nav .menu_icon .nav_icon {
  background: $footer-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav_container .menu_icon .nav_icon:before,
.nav_container .menu_icon .nav_icon:after {
  background: $footer-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  //transition: all .2s ease-out;
  width: 100%;
}

.nav_container .menu_icon .nav_icon:before {
  top: 5px;
}

.nav_container .menu_icon .nav_icon:after {
  top: -5px;
}


.nav_container .menu_btn {
  display: none;
}

.nav_container .menu_btn:checked ~ .menu {
  max-height: 240px;
}
