@import "./src/scss/settings/index";

//responsive navigation with hamburger manu:

a {
  color: $font-black-color;
}

//main container:

.nav_container {
  position: fixed;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.6);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1);
}

.nav_container ul {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 0.5);
  list-style: none;
  text-transform: uppercase;
  overflow: hidden;
}

.nav_container li {
  @include notebook {
    float: left;
    display: inline-block;
  }
}

.nav_container li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid $body-color;
  text-decoration: none;

  @include notebook {
    padding: 20px 60px;
  }
}

//change after hovering mouse on element:

.nav_container li a:hover,
.nav_container .menu__btn:hover {
  color: darkred;
}

.nav_container .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;

  @include notebook {
    display: flex;
    justify-content: center;
    clear: none;
    max-height: none;
  }
}

.nav_container .menu__icon {
  display: inline-block;
  position: relative;
  float: right;
  cursor: pointer;
  padding: 28px 20px;
  user-select: none;

  @include notebook {
    display: none;
  }
}

//hamburger icon

nav .menu__icon .nav__icon {
  display: block;
  position: relative;
  height: 2px;
  width: 18px;
  background: $footer-color;
}

.nav_container .menu__icon .nav__icon:before,
.nav_container .menu__icon .nav__icon:after {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: $footer-color;
}

.nav_container .menu__icon .nav__icon:before {
  top: 5px;
}

.nav_container .menu__icon .nav__icon:after {
  top: -5px;
}

.nav_container .menu__btn {
  display: none;
}

.nav_container .menu__btn:checked ~ .menu {
  max-height: 240px;
}
