@import "./src/scss/settings/index";

//slider with carousel

//main container:

.carousel {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 1;

  //slider element:

  .carousel_element {
    width: 100%;
    box-sizing: border-box;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-black-color;
  }

  //placeholder for style details for pictures in slider:

  %foto {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 59px;
    z-index: 1;
    transition: .3s ease-in-out;

    @include tablet {
      height: 500px;
    }
    @include notebook {
      height: 650px;
      width: 100vw;
      right: 1%;
    }
  }

  //arrows for changing pictures:

  //left:

  .fa-chevron-left {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 3%;
    top: 24%;
    z-index: 2;
    cursor: pointer;
    color: #e2dfdf;

    @include tablet {
      width: 30px;
      height: 30px;
      top: 33%;
    }
    @include notebook {
      width: 50px;
      height: 50px;
      top: 35%;
      left: 1%;
    }
  }

  //right:

  .fa-chevron-right {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3%;
    top: 24%;
    cursor: pointer;
    z-index: 2;
    color: #e2dfdf;

    @include tablet {
      width: 30px;
      height: 30px;
      top: 33%;
    }

    @include notebook {
      width: 50px;
      height: 50px;
      top: 35%;
    }
  }

  //changing photos in slider:

  .foto1 {
    @extend %foto;
    background-image: url("/image/foto1.jpg");
  }

  .foto2 {
    @extend %foto;
    background-image: url("/image/foto2.jpg");
  }

  .foto3 {
    @extend %foto;
    background-image: url("/image/foto3.jpg");
  }

  .foto4 {
    @extend %foto;
    background-image: url("/image/foto4.jpg");
  }

  .foto5 {
    @extend %foto;
    background-image: url("/image/foto5.jpg");
  }

  .foto6 {
    @extend %foto;
    background-image: url("/image/foto6.jpg");
  }

  .foto7 {
    @extend %foto;
    background-image: url("/image/foto7.jpg");
  }

  .foto8 {
    @extend %foto;
    background-image: url("/image/foto8.jpg");
  }

  .foto9 {
    @extend %foto;
    background-image: url("/image/foto9.jpg");
  }

  .foto10 {
    @extend %foto;
    background-image: url("/image/foto10.jpg");
  }

  .foto11 {
    @extend %foto;
    background-image: url("/image/foto11.jpg");
  }

  .foto12 {
    @extend %foto;
    background-image: url("/image/foto12.jpg");
  }

  .foto13 {
    @extend %foto;
    background-image: url("/image/foto13.jpg");
  }

  .foto14 {
    @extend %foto;
    background-image: url("/image/foto14.jpg");
  }
}

