$body-color: #E8E6E6;
$header-color: #99300F;
$section-color: #c7c7c7;
$font-black-color: #000000;
$font-white-color: #FFFFFF;
$font-red-color: #FF6161;
$footer-color: #242323;
$column-red-color: #FF6161;
$column-white-color: #fafafa;

